.avatar {
  display: block;
  width: 80px;
  height: 80px;
  color: var(--color-text);
}

.avatar-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
  background-color: var(--white);
}