.avatar {
  display: block;
  width: 80px;
  height: 80px;
}

.avatar-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
}